/*
    CSS код только части секции 'about-project'
*/

.about-project-section {
    gap: 5vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1060px) {
    .about-project-section {
        flex-direction: column-reverse;
    }
}

.pictures-about-project {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

@media screen and (max-width: 870px) {
    .pictures-about-project {
        grid-template-columns: repeat(2, auto) !important;
    }
}

@media screen and (max-width: 520px) {
    .pictures-about-project {
        grid-template-columns: repeat(1, auto) !important;
    }
}

.group {
    display: flex;
    align-items: center;
    flex-direction: column;

    --comp-k: 2;
    width: calc(95px * var(--comp-k));
    height: calc(117px * var(--comp-k));
}

.comp {
    position: absolute;
    z-index: 1;
    --comp-k: 2;
    width: calc(95px * var(--comp-k));
    height: calc(117px * var(--comp-k));
    image-rendering: pixelated;
    cursor: pointer;
}

.mask {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    /*95*/
    height: 120px;
    /*117*/
    top: 40px
}

.about-project {
    position: relative;
    image-rendering: pixelated;
}

.paper {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-on-paper {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    cursor: pointer;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
    border-radius: 5px;
}