/*
    CSS код только части секции 'about-project'
*/

.about-project-section {
    gap: 5vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1060px) {
    .about-project-section {
        flex-direction: column-reverse;
    }
}

.pictures-about-project {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

@media screen and (max-width: 870px) {
    .pictures-about-project {
        grid-template-columns: repeat(2, auto) !important;
    }
}

@media screen and (max-width: 520px) {
    .pictures-about-project {
        grid-template-columns: repeat(1, auto) !important;
    }
}

.group {
    display: flex;
    align-items: center;
    flex-direction: column;

    --comp-k: 2;
    width: calc(95px * var(--comp-k));
    height: calc(117px * var(--comp-k));
    transition: all 0.3s ease;
}

.comp {
    position: absolute;
    z-index: 1;
    --comp-k: 2;
    width: calc(95px * var(--comp-k));
    height: calc(117px * var(--comp-k));
    image-rendering: pixelated;
    cursor: pointer;
}

@media (hover: none),
(pointer: coarse) {
    .group:active {
        transform: scale(1.05);
    }
}

@media (hover: hover) and (pointer: fine) {
    .group:hover {
        transform: scale(1.05);
    }
}

.mask {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    /*95*/
    height: 120px;
    /*117*/
    top: 40px
}

.about-project {
    position: relative;
    image-rendering: pixelated;
}

.paper {
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (hover: none),
(pointer: coarse) {
    .paper:active {
        transform: scale(1.1) rotate3d(1, 1, 0, 10deg);
    }
}

@media (hover: hover) and (pointer: fine) {
    .paper:hover {
        transform: scale(1.1) rotate3d(1, 1, 0, 10deg);
    }
}

.up-paper {
    position: relative;
    z-index: 10;
}

.down-paper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    cursor: none;
}

.down-paper-left {
    transform: rotate(10deg);
}

.down-paper-right {
    transform: rotate(-10deg);
}

.modal {
    /* По умолчанию скрываем модальное окно */
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

/* Класс, который делает модальное окно видимым */
.modal.show {
    display: block;
}

.modal-content {
    /* Центрирование с помощью абсолютного позиционирования */
    position: absolute;
    top: 50%;
    left: 50%;

    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);

    /* Используем CSS-переменную для масштаба. Центрирование делаем статическим */
    transform: translate(-50%, -50%) scale(var(--scale-factor, 1));
}