/*
    CSS код только части секции 'start-logo'
*/

.start-logo-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-logo {
    --start-logo-size: min(70%, 50vh);
    width: var(--start-logo-size);
    height: calc(var(--start-logo-size) * 0.8); 
    position: relative;
    margin: 10vh;
    transition: top;
}

.start-logo-btn {
  cursor: pointer;
  display: block;
  width: min(85%, 340px);
  aspect-ratio: 240 / 44; 
  border: none;
  background-color: transparent;
  padding: 0;
  

  background-image: url('../img/btn_normal.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  image-rendering: pixelated;

  transition: transform 0.1s ease;

  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;           
  -webkit-user-drag: none;     
}

/* При наведении (Desktop) */
@media (hover: hover) and (pointer: fine) {
  .start-logo-btn:hover {
    background-image: url('../img/btn_hover.png');
    transform: scale(1.02); 
  }
}

/* При нажатии (Mobile / Touch) */
@media (hover: none), (pointer: coarse) {
  .start-logo-btn:active {
    background-image: url('../img/btn_hover.png');
    transform: scale(0.97); 
  }
}
